In [1]:
import pandas as pd

course_name = ['Data Science','Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans: The main difference between the loc and iloc functions in pandas.DataFrame is the way they are used for indexing.

loc is primarily label-based indexing, meaning that it uses the labels of rows and columns to access data. It accepts labels or boolean arrays for indexing. For example, df.loc[3, 'column_name'] will retrieve the value at the specified label location.

iloc is primarily integer-based indexing, meaning that it uses the integer positions of rows and columns to access data. It accepts integer values or boolean arrays for indexing. For example, df.iloc[2, 1] will retrieve the value at the specified integer location.

In summary, loc uses labels for indexing, while iloc uses integer positions for indexing.

In [4]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)
df

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [5]:
df.iloc[2,2]

13

In [6]:
df.loc[2,'B']

8

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [7]:
import pandas as pd

course_name = ['Data Science','Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [8]:
reindex=[3,0,1,2]
new_df=df.reindex(reindex)
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [10]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

The loc function in pandas DataFrame is primarily label-based, which means it uses the index values to locate and retrieve data. It takes label-based arguments and retrieves data based on the index labels.

On the other hand, the iloc function is primarily integer position-based, which means it uses the integer positions to locate and retrieve data. It takes integer-based arguments and retrieves data based on the integer positions of the rows and columns.

So, loc follows the index labels, while iloc follows the integer positions of the rows and columns.

Consider the below code to answer further questions:

In [11]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [12]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.520265  0.676645  0.629829  0.183463  0.917982  0.785812
2  0.325006  0.155126  0.362662  0.776110  0.835284  0.309360
3  0.220826  0.475634  0.022277  0.997787  0.792554  0.225242
4  0.902601  0.490837  0.407096  0.399709  0.923333  0.788026
5  0.731213  0.982433  0.816220  0.861109  0.201009  0.259590
6  0.535738  0.377258  0.231058  0.839664  0.726953  0.440913

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2'

In [13]:
df1.mean()

column_1    0.539275
column_2    0.526322
column_3    0.411524
column_4    0.676307
column_5    0.732852
column_6    0.468157
dtype: float64

In [14]:
df1['column_2'].std()

0.2808805778643758

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [15]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.520265  0.676645  0.629829  0.183463  0.917982  0.785812
2  0.325006  0.155126  0.362662  0.776110  0.835284  0.309360
3  0.220826  0.475634  0.022277  0.997787  0.792554  0.225242
4  0.902601  0.490837  0.407096  0.399709  0.923333  0.788026
5  0.731213  0.982433  0.816220  0.861109  0.201009  0.259590
6  0.535738  0.377258  0.231058  0.839664  0.726953  0.440913

In [16]:
df1.loc[2,'column_2']='string'

In [17]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.520265  0.676645  0.629829  0.183463  0.917982  0.785812
2  0.325006    string  0.362662  0.776110  0.835284  0.309360
3  0.220826  0.475634  0.022277  0.997787  0.792554  0.225242
4  0.902601  0.490837  0.407096  0.399709  0.923333  0.788026
5  0.731213  0.982433  0.816220  0.861109  0.201009  0.259590
6  0.535738  0.377258  0.231058  0.839664  0.726953  0.440913

In [18]:
df1['column_2'].mean()

However, this code may raise an error because you are trying to calculate the mean of column 'column_2' which now contains a string value. Mean calculation requires numerical values, and a string cannot be included in the calculation.

If you encounter an error, it will be due to attempting to calculate the mean on a column that contains a non-numeric value. To resolve this, ensure that the data in 'column_2' is numeric before calculating the mean.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, the windows functions are used to perform calculations on a set of data points within a specified window or group. These functions operate on a sliding or rolling window of data and allow us to perform various computations such as aggregations, transformations, and filtering.

There are several types of windows functions available in pandas:

Aggregating Functions: These functions aggregate the values within a window and return a single value as the result. Examples include sum(), mean(), min(), max(), count(), etc.

Expanding Functions: These functions gradually expand the window size as it moves forward. They compute a cumulative value based on all the data seen up to the current point. Examples include cumsum(), cumprod(), cummax(), cummin(), etc.

Rolling Functions: These functions operate on a fixed-size window that moves along the data. They provide rolling or sliding window calculations and can be used for tasks like moving averages, moving sums, etc. Examples include rolling().mean(), rolling().sum(), rolling().std(), rolling().min(), rolling().max(), etc.

Transform Functions: These functions return a transformed version of the data within the window. They preserve the size and shape of the original data. Examples include shift(), diff(), pct_change(), etc.

By using these windows functions, we can perform various calculations and analysis on data based on specific window sizes or groups.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [19]:
pd.datetime.now().month

/tmp/ipykernel_2475/880839337.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now().month

10

In [20]:
pd.datetime.now().year

/tmp/ipykernel_2475/3056029991.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now().year

2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
date1=pd.to_datetime(input('enter the first date (yyyy-mm-dd):'))
date2=pd.to_datetime(input('enter the second date (yyyy-mm-dd):'))
diff=date2-date1

days=diff.days
hours=diff.seconds//3600
minutes=(diff.seconds%3600)//60
print(f"difference : {days} days , {hours} hours , {minutes} minutes ")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
file_path=input('enter the file path :')
column_name=input('enter the column name :')
category_order=input("enter the category order ( comma-separated ) : ").split(",")

df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

df[column_name]=pd.Categorical(df[column_name] , categories =category_order , ordered=True)

df_sorted=df.sort_values(by=column_name)

print(df_sorted)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt

file_path=input('enter the file path')
df=pd.read_csv(file_path)

df['Date']=pd.to_datetime(df['Date'])

pivot_data=df.pivot(index='Date' , columns='Product' , values='Sales')

pivot_data.plot(kind='bar' , stacked=True)
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Products Over Time')
plt.show()

11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results

In [ ]:
import pandas as pd 

file_path=input('enter the file path')

df=pd.read_csv(file_path)

mean=df['Test Score'].mean()
median=df['Test Score'].median()
mode=df['Test Score'].mode()

df1=pd.DataFrame({'Statistics':['Mean' ,'Median' , 'Mode']
                 , 'Value' :[mean,median,mode]})

print(df1)